{% extends 'index.html' %}

{% block current %}

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <h5 class="card-header">Current Stock Information</h5>
        </div>
        <div class="row m-1">
            <div class="col">
                <div class="card">
                    <h6 class="card-header">Current Stock</h6>
                    <div class="card-body"></div>
                </div>
            </div>

            <div class="col">
                <div class=" card ml-3">
                    <h6 class="card-header">Recieved Stock</h6>
                    <div class="card-body"></div>
                </div>
            </div>
               
                   
            <div class="col">
                <div class="card ml-3">
                    <h6 class="card-header">Shipped Stock</h6>
                    <div class="card-body"></div>
                </div>
            </div>
                    
            </div>
        </div>
               
</div>

{% endblock %}