{% extends 'index.html' %}

{% block current %}

<div class="row">
    <div class="col">
        <div class="card  mb-3">
            <h5 class="card-header">Current Stock Information</h5>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class="row align-items-center">
        <div class="col">
            <p class="h5">Today:</p>
           <ul class="list-group list-group-horizontal">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Current Stock
                <span class="ml-2 badge badge-primary badge-pill">142054</span><small class="ml-1">mtr</small>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Recieved Stock
                <span class="ml-2 badge badge-primary badge-pill">142054</span><small class="ml-1">mtr</small>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Shipped Stock
                <span class="ml-2 badge badge-primary badge-pill">142054 </span><small class="ml-1">mtr</small>
              </li>
           </ul>
        </div>          
        
        <div class="col">
            <p class="h5">Overall</p>
            <ul class="list-group list-group-horizontal">
             <li class="list-group-item d-flex justify-content-between align-items-center">
                 Current Stock
                 <span class="ml-2 badge badge-primary badge-pill">142054</span><small class="ml-1">mtr</small>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                 Recieved Stock
                 <span class="ml-2 badge badge-primary badge-pill">142054</span><small class="ml-1">mtr</small>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                 Shipped Stock
                 <span class="ml-2 badge badge-primary badge-pill">142054</span><small class="ml-1">mtr</small>
               </li>
            </ul>
         </div> 
    </div>

    <div class="row">
      <div class="col">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>#</th>
              <th>Product Name</th>
              <th>Design No</th>
              <th>Varaint</th>
              <th>Recieved</th>
              <th>Dispatched</th>
              <th>Current</th>
            </tr>
          </thead>
          <tbody>
            {% for ai in allinventory %}
            <tr>
              <td>{{ai.iid}}</td>
              <td>{{ai.pduct.product_name}}</td>
              <td>{{ai.deno.design_no}}</td>
              <td>{{ai.variantname.variant_name}}</td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
   
               


{% endblock %}